:root{
    font-family: Verdana, sans-serif;
    color: #5e5e5e;
    padding: 0;
}

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(247 247 247);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
}

img{
    display: block;
    max-width: 100%;
}

label{
    cursor: pointer;
}

main, main + footer{
    display: block;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    width: 55rem;
    max-width: 100%;
    min-height: 90vh;
}

main + footer{
    min-height: initial;
    padding: 3rem 2rem;
    background-color: #dedeff;
}

.main-header{
    padding: 1rem;
    text-align: center;
    font-weight: 600;
    background: gray;
    color: white;
}

.menu{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0;
    padding: 1rem;
}

.menu li{
    list-style: none;
    text-transform: lowercase;
}

.menu > li{
    position: relative;
    margin: 0;
    padding: .25rem 1rem .25rem .5rem;
    min-width: 7rem;
    cursor: pointer;
}

.menu > li:after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 40%;
    right: 0.2rem;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-top: 0.3rem solid #7c7c7c;
}

.menu > li + li{
    margin-top: .5rem;
}

.menu > li ul{
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    padding: 0.75rem 1rem 0.75rem 0.5rem;
    z-index: 1;
    border: 1px solid lightgray;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: initial;
    color: initial;
    cursor: auto;
}

.menu > li:hover ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
}

.menu > li:hover{
    background-color: #7c7c7c;
    color: white;
}
.menu > li:hover:after{
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-top: 0.3rem solid white;
}

.menu a {
    color: inherit;
    white-space: nowrap;
    padding: .25rem .5rem;
}

.menu li ul li+li{
    margin-top: 1rem;
}

.menu a:hover{
    color: #ff5e00;
}

.menu .current{
    color: #ff5e00;
    text-decoration: none;
    font-weight: 600;
}

h1{
    font-size: 1.5rem;
    margin: 2rem 1rem;
    text-align: center;
}

section header{
    margin: 1rem;
}

p{
    width: 55rem;
    max-width: 100%;
    text-indent: 3rem;
    margin: 1rem 0 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

p img{
    margin: 0 1rem;
}

.image-education{
    margin: 0;
}

.my-description img{
    width: 11rem;
    height: 11rem;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 1rem;
}

.carriere-item{
    margin: 3rem 0 4rem 0;
}

h2{
    font-size: 1.1rem;
    text-align: center;
}

figure{
    padding: 0;
    width: 16rem;
    margin: 0 auto;
}

figure.large{
    width: initial;
}

figcaption{
    color: #8293a3;
    font-size: .8rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    padding: 0 1rem;
}

.realisation-container {
    width: 40rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.realisation-container p{
    text-indent: 1rem;
    background-color: #eaf2fa;
    padding: 1rem;
    -webkit-border-radius: 1rem;
            border-radius: 1rem;
    color: #5e5e5e;
}

.realisation-container li:nth-child(2n) p{
    background-color: #f1f1f1;
}

form{
    max-width: 100%;
    width: 25rem;
    margin: 0 auto;
}

form fieldset{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    border: none;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 1rem 0;
} 

form label{
    padding: .25rem .5rem;
    cursor: pointer;
    margin: 0 0 .5rem 0;
}

form input, form select, form textarea{
    padding: 0.25rem 1rem;
    line-height: 2;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    font-size: 1.1rem;
    border: 1px solid #afbece;
    outline: none;
    width: 100%;
    max-width: 20rem;
    min-height: 3rem;
    color: inherit;
}

form input:focus, form textarea:focus{
    border: 1px solid rgb(255 159 67);
    background-color: #fffdf8;
}

form input[type="submit"] {
    background-color: #4f4fff;
    color: white;
    border-color: #4f4fff;
    cursor: pointer;
}
.section-header{
    font-size: 1rem;
    margin: 0 1rem 1rem 1rem;
    font-weight: 100;
    text-align: inherit;
}

.education{
    margin: 0 auto 2rem auto;
    padding: 0 0.5rem;
}
.validation{
    width: min(35rem, 100%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0 auto 1rem auto;
}
.validation h2{
    text-align: inherit;
}
@media screen and (min-width: 768px) {
    main{
        padding: 1rem 2rem;
    }
    .menu{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row;
            -ms-flex-flow: row;
                flex-flow: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .menu > li + li{
        margin: 0 0 0 1rem;
    }
    .menu > li{
        text-align: center;
    }
    .menu > li label{
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
    .menu > li ul{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        visibility: hidden;
    }
    .menu > li:last-child ul {
        left: initial;
        right: 0;
    }
    p{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row;
            -ms-flex-flow: row;
                flex-flow: row;
        margin: 1rem 0 2rem 0;
    }    
    .my-description:nth-child(2n+3) img{
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
            -ms-flex-order: -1;
                order: -1;
    }
    .my-description img{
        margin: 0 1rem;
    }
}

@media screen and (min-width: 1000px) {

    .menu > li:last-child ul {
        left: 0;
        right: initial;
    }
}